<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="title-container">
          <h1>Tic Tac Toe</h1>
        </div>
      </div>
      <p id="player"></p>
      <div class="row board-row">
        <div class="col-xs-12">
          <div class="table-responsive board-container">
            <table class="gameboard">
              <tr>
                <td id="f0"></td>
                <td id="f1"></td>
                <td id="f2"></td>
              </tr>
              <tr>
                <td id="f3"></td>
                <td id="f4"></td>
                <td id="f5"></td>
              </tr>
              <tr>
                <td id="f6"></td>
                <td id="f7"></td>
                <td id="f8"></td>
              </tr>
            </table>
          </div> <!-- ends table div -->
        </div> <!--ends col-xs-6 div for game board -->
      </div> <!-- ends row div for game board -->
    </div> <!-- ends container div -->
    <input type="button" name="" value="Click to Restart" class="btn btn-info">
    <!-- jQuery 3.2.1 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../javascripts/app.js"></script>
  </body>
</html>
