body {
  background-color: #c3c3c3;
}

h1, p {
  text-align: center;
  color: green;
  font-family: Verdana;
}

.gameboard {
  border-collapse: collapse;
  width: 30em;
  height: 30em;
  margin: 0 auto;
  float: none;
}

th {
  font-size: 2em;
  padding: 0.35em;
}

#f3 {
  border-width: 5px;
  border-style: solid;
  border-left: 5px;
  width: 145px;
  height: 145px;
}

#f4 {
  border: 5px solid black;
  width: 145px;
  height: 145px;
}

#f1, #f7 {
  border-style: solid;
  border-top: 5px;
  border-bottom: 5px;
  border-width: 5px;
  width: 145px;
  height: 145px;
}

#f5, #f8 {
  border-width: 5px;
  border-style: solid;
  border-right: 5px;
  border-bottom: 5px;
  width: 145px;
  height: 145px;
}

.bg-primary {
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
