:root {
  --c-white: #fff;
  --c-black: #000;
  --c-primary-blue: #B2C8EC;
}

html, body {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  background: var(--c-white);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, p {
  text-align: center;
  color: var(--c-black);
  margin: 0;
}

h1 {
  letter-spacing: 0.1rem;
}

.title-container {
  width: 50%;
  margin: 1rem auto;
  padding: 1rem 0;
  background: var(--c-primary-blue);
  border-radius: 0.5rem;
}

.gameboard {
  border-collapse: collapse;
  width: 30em;
  height: 30em;
  margin: 0 auto;
  float: none;
}

th {
  font-size: 2em;
  padding: 0.35em;
}

#f3 {
  border-width: 5px;
  border-style: solid;
  border-left: 5px;
  width: 145px;
  height: 145px;
}

#f4 {
  border: 5px solid black;
  width: 145px;
  height: 145px;
}

#f1, #f7 {
  border-style: solid;
  border-top: 5px;
  border-bottom: 5px;
  border-width: 5px;
  width: 145px;
  height: 145px;
}

#f5, #f8 {
  border-width: 5px;
  border-style: solid;
  border-right: 5px;
  border-bottom: 5px;
  width: 145px;
  height: 145px;
}

.bg-primary {
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
